body {
    margin: 0;
    background-color: black;
    color: white;
}
@media only screen and (max-width: 900px) {
    section.logo  {
        margin: 0;
        height: auto;
    }
}
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 0.05em;
    font-size: 40px;
    margin: 0;
}
h3 {
    font-size: 30px;
}
p, li, a{
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}
a:hover {
    text-decoration: underline;
}
p {
    font-size: 25px;
}
ul{
    margin-top: 10vh;
}
li {
    font-size: 26px;
    margin-bottom: 8px;
}
section {
    height: 100vh;
}
.content {
    padding: 0 15vw;
}
.white {
    background-color: white;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    height: 140px;
    background-color: black;
}
header a {
    color: white;
}
header .back {
    position: absolute;
    top: 50px;
    left: 40px;
}
header a img {
    height: 140px;
}

.logo {
    margin: 0 15vw;
}
.logo img {
    width: 100%;
    object-fit: cover;
}

.left {
    display: grid;
    grid-template-columns: 40% 60%;
}
.left article {
    grid-column: 1;
    margin-top: 10vh;
    margin-right: 20px;
}
.right {
    display: grid;
    grid-template-columns: 60% 40%;
}
.right  article {
    grid-column: 2;
    margin-top: 10vh;
    text-align: right;
    margin-left: 20px;
}
.left img, .right img {
    height: 80vh;
    object-fit: cover;
    width: 100%;
    margin-top: 10vh;

}
.left p, .right p {
    margin-bottom: 10vh;
    margin-top: 5vh;
}
.left a {
    color: white;
}
.left img {
    box-shadow: 6px 6px 6px rgba(255, 255, 255, 0.8);
    grid-column: 2;
}
.right img {
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    grid-column: 1;
    grid-row: 1;
}
.gallery h2 {
    padding-top: 10vh;
    margin-bottom: 5vh;
}

.footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer form {
    width: 60%;
    margin-top: 5vh;
}
.footer form input, .footer form textarea {
    width: 100%;
    border: none;
    margin-bottom: 10px;
    font-size: 22px;
}
.footer form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
}
.footer form input[type=submit] {
    width: 20%;
    background-color: white;
    float: right;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;

}
.footer .links {
    width: 42%;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer .links i:hover {
    cursor: pointer;
}
.message {
    display: none;
    background-color: white;
    color: black;
}
img.noShadow {
    box-shadow: none;
}
@media only screen and (max-width:900px) {
    h1, h2 {
        font-size: 30px;
    }
    h3, .footer .links {
        font-size: 25px;
    }
    p, a, li, .footer form label, .footer form input, .footer form textarea {
        font-size: 20px;
    }
    .content {
        padding: 0 10vw;
    }
}
@media only screen and (max-width: 700px) {
    .left, .right {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    .left article, .right article {
        grid-column-start: 1;
        grid-row-start: 1;
        text-align: left;
        margin-top: 5vh;
    }
    .left img, .right img {
        grid-column-start: 1;
        grid-row-start: 2;
        width: 100%;
        max-height: 60vh;
        margin-bottom: 30px;
        margin-top: 5vh;
    }
    .left p, .right p {
        margin-bottom: 5vh;
    }
    section {
        height: auto;
    }
    a {
        float: right;
    }
    ul {
        margin-top: 5vh;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, auto);
    }
    .gallery img {
        height: 70vh;
        width: 100%;
    }
    .footer form {
        width: 100%;
    }
    .footer .links {
        width: 55%;
    }
    
}
@media only screen and (max-width: 500px) {
    h1, h2 {
        font-size: 26px;
    }
    h3, .footer .links {
        font-size: 20px;
    }
    p, a, li, .footer form label, .footer form input, .footer form textarea {
        font-size: 17px;
    }
    .left article, .right article {
        margin-top: 2vh;
    }
    .left p, .right p{
        margin: 2vh 0;
    }
    .left img, .right img {
        margin-top: 2vh;
        max-height: 30vh;
    }
    .gallery img {
        max-height: 30vh;
    }
    .gallery h2 {
        padding-top: 2vh;
        margin-bottom: 2vh;
    }
    ul {
        grid-template-columns: repeat(2, auto);
    }
}